__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
venv/
ENV/
env/
instance/
*.db
*.sqlite3
.DS_Store
*.log
*.bak
*.swp
*.swo
*.tmp
*.old
.idea/
.vscode/
*.iml
*.DS_Store
coverage/
*.egg-info/
.eggs/
pip-wheel-metadata/
*.zip
*.tar.gz
*.tgz
.env.example
.env.*
Procfile
